/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  /******* Section filtre ********/

  .filters {
    flex-wrap: wrap;
    align-items: center;
  }

  .filters h2 {
    margin: 10px;
    flex: 0 0 100%;
  }

  /******* Section hébergement ******/
  .accommodations-and-popular {
    flex-direction: column;
  }

  .accommodations {
    width: 100%;
  }

  /****** Section Populaire *******/
  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards a {
    width: 30%;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 13px;
  }

  /******* Section Activités *******/
  .activities-cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px;
  }

  .activities-cards {
    display: flex;
    gap: 25px;
  }

  /****** Section footer*******/
  footer {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 150px; /* espace ENTRE les colonnes */
    background: var(--main-bg-color);
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  section,
  footer {
    margin: 0px;
    width: 100%;
    border-radius: 0;
  }

  .main-container {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  header {
    flex-direction: column;
  }

  .logo img {
    display: block;
    margin: 0 auto;
  }

  .anchor-container ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  /* ligne grise continue */
  .anchor-container ul::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #e6e6e6;
    z-index: 0;
  }

  .anchor-container li {
    flex: 1;
    text-align: center;
    position: relative;
  }

  /* ligne bleue = 50% exact (largeur du li) */
  .anchor-container li.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0; /* <-- prend toute la largeur du li */
    bottom: 0;
    height: 3px;
    background: #0065fc;
    z-index: 2;
  }

  .anchor-container a {
    display: block;
    padding: 16px 0;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 3;
  }

  .anchor-container li.active a {
    color: #0065fc;
  }

  .title-subtitle h1 {
    align-content: center;
    margin-left: 20px;
    margin-right: 30px;
  }

  .title-subtitle p {
    align-content: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .search-box {
    display: flex;
    justify-content: center;
  }

  .search-box button {
    border-radius: 16px;
  }

  .search-box input {
    padding-right: 25px;
  }

  .fa-search {
    display: block;
  }

  .search {
    display: none;
  }

  .section-title {
    text-align: left;
    margin: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* espace entre toutes les sections */
  }

  .filters {
    gap: 12px;
    justify-content: center;
  }

  .filter-box {
    flex: 0 0 calc(50% - 6px);
    max-width: 170px;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
  }

  .info {
    margin: 25px;
  }

  .accommodations-and-popular {
    flex-direction: column-reverse;
  }

  .accommodations-and-popular section {
    background-color: white;
    border-radius: 0;
    padding: 10px;
  }

  .accommodations-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
    padding-top: 0px;
  }

  .accommodations-title {
    padding: 30px 1px 0px 16px;
  }

  .popular {
    background-color: var(--main-bg-color) !important;
    margin: 0px;
    border-radius: 0;
  }

  .popular-title {
    margin: 20px;
  }

  .popular-cards {
    display: block;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .activities-cards {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15%;
    margin-top: 10%;
  }

  .activities-cards a {
    width: 100%;
  }

  .activities-cards img {
    height: 141px;
    width: auto;
    object-fit: cover;
  }

  footer {
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
  }

  .footer-section {
    width: 100%;
  }
}
