/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Logo et barre de navigation ******/

header img {
  height: 19px;
  padding: 25px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin-bottom: 3%;
}

header nav ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
header nav ul li a {
  padding-bottom: 10px;
  border-top: 3px solid transparent;
  transition: border-color 0.3s;
  padding: 15px 5px;
  font-size: 16px;
}
header nav ul li a:hover {
  border-color: blue;
  color: blue;
  cursor: pointer;
}

/******Titre et introduction******/

.section-title {
  font-size: 22px;
}
.title-subtitle {
  display: block;
  margin-bottom: 40px;
  font-size: 16px;
}

/******Formuilaire de recherche******/
.search-box {
  display: flex;
  align-items: stretch;
  margin-bottom: 30px;
}

.search-box input::placeholder {
  color: black;
  opacity: 1;
}

.search-box .fa-map-marker-alt {
  font-size: 22px;
  background-color: #f2f2f2;
  border-radius: 16px 0px 0px 16px;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box input {
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  border-right: #0065fc;
  text-align: center;
}

.search-box button {
  background: #0065fc;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0px 16px 16px 0px;
  border: none;
  font-weight: bold;
  padding: 15px 15px;
}
.fa-search {
  display: none;
}

/****** Filtres et infos *******/
.filtres {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.filtres h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.filter-box {
  border: 2px solid;
  border-radius: 30px;
  border-color: #d9d9d9;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 17px;
}

.filter-box:hover {
  cursor: pointer;
  background-color: #deebff;
}
.fa-person {
  color: blue;
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hebergements .h2 {
  font-size: 22px;
}
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 33px;
  padding-top: 33px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: white;
  padding: 0%;
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 #0000001a;
}

.card img {
  border-radius: 20px 20px 0 0;
  height: 100px;
  padding: 5px;
  object-fit: cover;
}

.afficher {
  font-weight: bold;
  margin: 0%;
  font-size: 18px;
}

.hebergements-cards .card-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hebergements .card-content {
  margin: 25%;
}

.hebergement-info {
  padding: 5px;
  padding-top: 0px;
}
.card-title,
.card-subtitle,
.card-rating {
  margin: 4%;
  padding: 0%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* Activités *******/

.section-activites {
  margin-bottom: 35px;
  padding: 30px;
}

.activites-cards {
  display: flex;
  margin: 0;
  gap: 30px;
}

.activites-cards a {
  width: 25%;
}

.activites-cards .card {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.activites .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;
}

.activites-cards .card-content {
  padding: 10px 19px;
}

.activites h2 {
  margin-bottom: 30px;
}

.section-activites .card-content .card-title {
  margin-left: 0px;
}

/****** footer *******/

footer {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 20%; /* espace ENTRE les colonnes */
  background: var(--main-bg-color);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-section h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
